<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>
	
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
		<param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
	</node>
    <node name="mover" pkg="ur10_mover" type="mover.py" args="--wait" output="screen"/>
    <node name="ur10_interface" pkg="ur10_mover" type="ur10_interface.py" args="--wait" output="screen"/>
    <node name="ur10_ProMP" pkg="ur10_mover" type="ur10_ProMP.py" args="--wait" output="screen"/>
    <include file="$(find ur10_moveit_config)/launch/demo.launch" />
</launch>
